@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

h1,
h2,
h3 {
  font-family: 'Patua One', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}
